# --- FGCEOSA Backend Specific Configuration ---
ENVIRONMENT=local
DOMAIN=localhost
PROJECT_NAME="FGCEOSA API"
STACK_NAME=fgceosa-backend

# --- Security ---
SECRET_KEY=fgceosa-secret-key-rebranded-2026
FIRST_SUPERUSER=admin@fgceosa.org
FIRST_SUPERUSER_PASSWORD=admin_fgceosa_2026

# --- Database ---
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=qorebit_db
POSTGRES_USER=jamesoyanna
POSTGRES_PASSWORD=

# --- Frontend ---
FRONTEND_HOST=http://localhost:3000
BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost

# --- Services ---
EMAIL_PROVIDER=resend
EMAILS_FROM_EMAIL=hello@allfgcealumni.org
EMAILS_FROM_NAME=FGC Enugu Alumni Association
RESEND_API_KEY=your_resend_api_key
POSTMARK_SERVER_TOKEN=your_postmark_token
POSTMARK_MESSAGE_STREAM=notification

# --- Payments ---
PAYMENT_PROVIDER=paystack
PAYSTACK_PUBLIC_KEY=pk_test_3e2f787520cecbc820e03301f92cd7c5c3d461d6
PAYSTACK_SECRET_KEY=your_paystack_secret
PAYSTACK_WEBHOOK_SECRET=your_paystack_secret
PAYSTACK_BASE_URL=https://api.paystack.co
